*{
	box-sizing: border-box;
	color: #ffffff;
}
  
a{
	text-decoration: none;
}
body{
	font: normal .80em 'trebuchet ms', arial, sans-serif;
	height: 100%;
	margin: 0;
}
  
.bg {
	position: fixed; 
	z-index: -1;
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
  }
.bg img {
	position: absolute; 
	z-index: -2;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}
.card-overlay {
	background: rgba(0, 0, 0, 0.7);
	height:100%;
	width:100%;
  }

#navbar {
	height:60px;
	overflow: hidden;
	text-align: center;
}
  
#navbar a {
  	color: #ffffff;
	text-align: center;
	position: relative;
	text-decoration: none;
	letter-spacing: 0.1em;
	font: normal 150% arial, sans-serif;
	display:inline-block; 
	padding: 18px 10px;
	text-transform: uppercase;
}

#navbar a:hover{
	font-style: italic;
}

#navbar a.selected{
	border: 1px solid white;
}

.mainBlock{
	z-index: 1;
}
.content{
  	color: #ffffff;
	text-align: center;
	font-size: 26px;
	font-weight:20px;
	padding:300px 300px;
	text-decoration: none;
	z-index: 2;
}

#about{
    list-style-type:none;
	padding-left: 0pt;
	text-align: left;
}
  
.footer {
	padding: 10px;
	text-align: center;
	margin-bottom: 0;
	z-index: 3;
}

.fa {
	padding:5px;
    font-size: 20px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
	margin: 3px 1px;
	
}
  
.fa:hover {
	  opacity: 0.7;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
  }